In [1]:
import pandas as pd
import re

In [2]:
dataset = pd.read_csv('test-dataset-forNB.csv')
dataset.head()

                                              review       emotion sentiment
0        valo chilo kintu prothome on hote chay ni..         happy  positive
1                     Alhamdulillah vlo product...ü•∞ü•∞     satisfied  positive
2  price Thik ase but delivery charge onk besi Dh...  disappointed  negative
3               duidin age kinsi vlo.sound akdom kom  disappointed  negative
4  ekdom baje scroll button 12 din ar mathai nost...         angry  negative

In [3]:
def deEmojify(text):
    regex_pattern = re.compile(
        pattern="["
        "\U0001F600-\U0001F64F"  # emoticons
        "\U0001F300-\U0001F5FF"  # symbols & pictographs
        "\U0001F680-\U0001F6FF"  # transport & map symbols
        "\U0001F700-\U0001F77F"  # Alchemical symbols
        "\U0001F780-\U0001F7FF"  # Geometric Shapes Extended
        "\U0001F800-\U0001F8FF"  # Supplemental Arrows-C
        "\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
        "\U0001FA00-\U0001FA6F"  # Chess symbols and other various symbols
        "\U0001FA70-\U0001FAFF"  # Symbols for Legacy Scripts
        "\U0001F1E0-\U0001F1FF"  # flags (iOS)
        "\U00002702-\U000027B0"  # Dingbats
        "\U0000200D"  # Zero-width joiner (ZWJ) used in emoji sequences
        "\U0000FE0F"  # Variation selector-16 (VS16) for emoji style
        "]+",
        flags=re.UNICODE,
    )
    return regex_pattern.sub(r"", text)

In [4]:
dataset.tail()

                                                review    emotion sentiment
837                          Alhamdulillah vlo product  satisfied  positive
838  onek valo 2 mas por review dilam  charje jai n...  satisfied  positive
839  best  akta watch chilo.fast a aktu kosto hoise...      happy  positive
840                                           onk vloo  satisfied  positive
841                         allhumdulilah valo ciloü´£üíñüëç      happy  positive

In [5]:
dataset['review'] = dataset['review'].apply(deEmojify)
dataset.tail()

                                                review    emotion sentiment
837                          Alhamdulillah vlo product  satisfied  positive
838  onek valo 2 mas por review dilam  charje jai n...  satisfied  positive
839  best  akta watch chilo.fast a aktu kosto hoise...      happy  positive
840                                           onk vloo  satisfied  positive
841                            allhumdulilah valo cilo      happy  positive

In [6]:
dataset.to_csv("noEmoji.csv", index=False)